target/
html/
almadraba-server/src/main/webapp/font-awesome
almadraba-server/src/main/webapp/css
almadraba-server/src/main/webapp/skin-config.html
almadraba-server/src/main/webapp/js/bootstrap.min.js
almadraba-server/src/main/webapp/js/bootstrap.js
almadraba-server/src/main/webapp/js/demo
almadraba-server/src/main/webapp/js/highcharts
almadraba-server/src/main/webapp/js/inspinia.js
almadraba-server/src/main/webapp/js/jquery-2.1.1.js
almadraba-server/src/main/webapp/js/jquery-ui.custom.min.js
almadraba-server/src/main/webapp/js/jquery-ui-1.10.4.min.js
almadraba-server/src/main/webapp/js/plugins
almadraba-server/src/main/webapp/js/require
